
extends base
block content

    section.single-event-page
        img.single-event-page-image(src="/img/coverImage.jpg", alt="", srcset="")
        .single-event-page-container
            .quick-fact
                .quick-fact-container
                    .single-page-text
                    
                        h2 Quick Facts
                    -const date = event.startDates[0].toLocaleString(en-us,{month:'long',year:'numeric'})
                    .single-page-icon
                        ion-icon.icon-small(name="calendar-outline")
                        p.quick-fact-info Next Date
                        p=date
                    .single-page-icon
                        ion-icon.icon-small(name="people-circle-outline")
                        p.quick-fact-info Participants
                        p StartDates
                    .single-page-icon
                        ion-icon.icon-small(name="chatbox-ellipses-outline")
                        p.quick-fact-info Comments
                        p=`${event.commentsQuantity} `
                    .single-page-icon
                        ion-icon.icon-small(name="timer-outline")
                        p.quick-fact-info Duration
                        p= `${event.duration} Days`
                .coordinater-container
                    .single-page-text
                        h2 Co-ordinater
                    each coordinater in event.moderator
                        .single-page-icon
                            ion-icon.icon-small(name="person-circle")
                            p.quick-fact-info= coordinater.role
                            p= coordinater.name
                        

            .about-section-conatiner
                .about-container
                    .single-page-text
                        h2= event.name
                        - const paragraph = event.description.split('\n');
                        each para in paragraph
                            p=para
    section.section-map
        #map                    
    section.comment-section
        h2 Comments
        each profile in event.comments
            
            .comment-primary-container
                img.comment-image(src="/img/1.jpg", alt="")
                  
                .comment-secondary-container
                    h3=profile.user.name
                    p.comment-time=`${profile.createdAt.getMinutes()} minutes ago`
                    p.comment-text= profile.comment
        .comment-container
            form.comment-form
                h2 Leave Your comment
                .input-comment-form
                
                    input(type="text" class="input-comment" placeholder='YOUR COMMENT ...', required )
                    button.login-btn.comment-btn Add Comment

